* {
	background-color: azure;
	outline: 1px solid hotpink;
	font-family: 'Hind', sans-serif;
}

h1,h2,h3 {
	text-align: center;
}

/* TOP NAVIGATION BAR */

nav {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
}

nav ul {
	background-color: midnightblue;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style-type: none;
}

nav ul li {
	background-color: inherit;
	width: 100px;
	height: 40px;
	text-align: center;
	padding: 0;
}

li a {
	font-family: 'Amatic SC', cursive;
	background-color: inherit;
	color: white;
	font-size: 1.5em;
	text-decoration: none;
	line-height: 1.9em;
	padding: 0;
	margin: 0;
	vertical-align: middle;
}

li a:hover {
	color: lightgray;
	font-size: 1.8em;
}

/* END OF TOP NAVIGATION BAR */

main#history {
	width: 75%;
	margin: 0 auto;
}

em {
	font-family: 'Amatic SC', cursive;
	font-weight: bold;
	font-style: italic;
	font-size: 1.8em;
}

figure {
	font-size: 0.9em;
	text-align: center;
	margin-top: 0;
}

img {
	width: 500px;
	border: 3px solid midnightblue;
}

/*section{
	clear: both;
}*/

.left {
	float: left;
}

blockquote {
	width: 75%;
	max-width: 650px;
	padding: 0.3em;
	background: midnightblue;
	color: white;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
	margin: 1em auto;
	border-left: 10px solid gray;
}

blockquote * {
	padding-left: 10px;
	background-color: inherit;
	margin: 0 auto;
}

blockquote footer{
	background-color: none;
	text-align: left;
	left: 1em;

}

footer {
	text-align: center;
	margin: inherit auto;
}

@media screen and (max-width: 575px) {
	img {
		width: 90%;
	}
}

@media screen and (max-width: 350px) {
	nav {
		font-size: 0.9em;
		line-height: 1.8em;	
	}
}


/*  OPPORTUNITIES TO FIX:
			- Prevent links in the navigation 
					from spilling over on :hover
			- In figure remove whitespace with
					line break after </img>

*/